.dashboardContent {
    padding: 25px;
    margin-bottom: 100px;
}

.dashboardSections {
    display: flex;
    gap: 25px;
}

/* Media query para telas menores (ex: 768px ou menos) */
@media (max-width: 768px) {
    .dashboardSections {
        flex-direction: column;
        /* Empilha as seções verticalmente */
    }
}